<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h2>测试static目录</h2>
<a href="#" class="js-login">登录</a>
<a href="#">注册</a>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('.js-login').click(function () {
        $.post('/api/user/login', {username: 'admin', password: '123456'}, function (retData) {
            console.log(retData)
            if (retData.errno == 0) {
                location.href = '/'
            }
        });
        return false;
    })
</script>
</body>
</html>